body{
  background-color: azure;
  font-family:Arial, Helvetica, sans-serif;
}
.sketch-area{
  margin-top: 50px;
}
header{
  width: 480px;
  margin: auto;
  align-items: center;
  text-align: center;
}

.buttons{
  width: fit-content;
  margin: auto;
  display: flex;
  align-content: space-between;
  justify-content:space-between;
  margin-bottom: 20px;
}

button:hover,
input:hover{
  cursor: pointer;
}

#container {
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 360px;
  height: 360px;
}

.grid-square {
  width: calc(100% / var(--grid-size));
  height: calc(100% / var(--grid-size));
  border: .01px solid rgb(28, 28, 28);
  box-sizing: border-box;
}

.slider{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 10px auto;
}

label span{
  font-weight: bold;
}